@import 'https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Ubuntu+Condensed';
html {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  overflow-x: hidden;
}

header {
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.25);
  background-image: url("../images/jumbo-pic.JPG");
  background-repeat: no-repeat;
  background-background-blend-mode: darken;
}

header nav {
  background-color: transparent;
}

header nav #top-social li:hover {
  background-color: black !important;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2vh 5vw;
  width: 100%;
  position: absolute;
}

header nav ul li {
  list-style: none;
  margin: 5px 10px;
  font-size: 18px;
  white-space: nowrap;
}

header nav ul li a {
  white-space: nowrap;
  color: white;
  text-decoration: none !important;
  transition: all .3s ease-in-out;
}

header nav ul li a:hover {
  color: white;
  background-color: black;
  padding: 1em;
  border-top: px solid white;
  border-bottom: 3px solid white;
  min-width: 100px;
}

header nav ul #rnsit-logo {
  float: left !important;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header nav ul #rnsit-logo:hover {
  background-color: transparent;
  transform: scale(1.1);
}

header nav ul #name {
  margin-right: auto;
  color: white;
  font-size: 20px;
  text-shadow: 0 0 40px #000000;
}

#splash-screen {
  color: #c6c6c6;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  font-size: 1.5em;
}

#splash-screen .row {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#splash-screen .row .col-md-8 {
  padding-left: 10vw !important;
}

#splash-screen .row .col-md-8 h1 {
  display: block;
  font-size: 152px;
  transition: 1s all ease;
  padding: 0;
  margin-bottom: -30px;
}

#splash-screen .row .col-md-8:hover {
  translate: scale(1.1);
}

#splash-screen .row #notice-board {
  padding-right: 0px !important;
}

#splash-screen .row #notice-board ul li {
  list-style: none;
  color: #212121;
  margin-bottom: 10px;
  font-size: 18px;
  display: block;
  opacity: 0.9;
  background-color: white;
  padding: .5em .1em .5em 1.8em;
  box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
  transition: .1s all ease;
  transform-origin: right;
}

#splash-screen .row #notice-board ul li:hover {
  transform: scale(1.1);
}

#description {
  padding: 3em 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  z-index: 4;
}

#stats {
  min-height: 300px;
  box-shadow: inset 0px 0px 37px -5px rgba(0, 0, 0, 0.75);
  background-color: #e3e3e3;
  z-index: 2;
}

.heading {
  font-size: 44px;
  margin-top: 0;
  margin-bottom: 0px !important;
}

#creds {
  padding: 10vh 0px 15vh 0px;
  background-color: #f5f5f5;
  font-family: 'Josefin Sans', sans-serif;
}

#creds #hr1 {
  width: 10%;
  border-top: 4px solid black;
  margin-bottom: 10vh;
  margin-top: 10px;
  border-radius: 2em;
}

#creds .row .col-md-3 {
  height: 200px;
  background-repeat: no-repeat;
  background-postion: center;
  background-size: contain;
}

#reach-us {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4em;
  padding-left: 3em;
}

#reach-us .col-md-6 .container {
  padding: 1em 2em;
}

#reach-us .col-md-6 .container h3 {
  border: 1px solid black;
  display: inline-block;
  padding: .5em 1.5em;
  margin: .5em;
  margin-bottom: 1em;
  font-weight: bold;
}

#reach-us .col-md-6 .container #address-wrap {
  padding-left: 1em;
}

#reach-us .col-md-6 .container #address-wrap a {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: .3em 1em;
  margin: 20px 0px;
}

#reach-us .col-md-6 .container #address-wrap #gmap {
  background-color: #f5f5f5;
}

footer {
  background-color: black;
  margin: 0 !important;
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

footer ul li {
  margin: 20px 10px;
  list-style: none;
  min-width: 100px;
  text-align: center;
}

footer ul li a {
  color: white !important;
}
